body{
  background-image: url(milky-way.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  
}

.b1h1{
    padding-left: 5%;
    font-size: 100px;
    color: white;
}

.b1p{
    padding-left: 5%;
    width: 60%;
    color: white;
}

.b2h1{
    padding-right: 5%;
    font-size: 90px;
    color: #343A40;
    text-align: right;
}

.b2p{
    padding-left: 35%;
    padding-right: 5%;
    color: #343A40;
    text-align: right;
}

.b3h1{
    font-size: 100px;
    text-align: center;
    color: white;
}

.b3p{
    color: white;
    text-align: center;
}

.jumbotron{
  height: 400px;
}

img{
  float: left;
  padding:10%;
  width: 50%;
}

.dropDownButton{
  background-color: white;
  color: #343A40;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 50px;
  border-radius: 0px;
}
