body{
  background-image: url(milky-way.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  
}

h1{
  padding-left: 5%;
  font-size: 100px;
}

p{
  padding-left: 5%;
  width: 60%;
}

.jumbotron{
  color: dark;
}
