body{
  background-image: url(milky-way.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  
}

.b1h1{
    padding-left: 5%;
    font-size: 100px;
    color: white;
}

.b1p{
    padding-left: 5%;
    width: 60%;
    color: white;
}

.b2h1{
    padding-left: 5%;
    font-size: 100px;
    color: #343A40;
    text-align: right;
}

.b2p{
    padding-left: 5%;
    width: 60%;
    color: #343A40;
    text-align: right;
}

.jumbotron{
  height: 400px;
}
