  
{% extends "layout.html" %}

{% set active_page = "home"%}

{% block title %}Home{% endblock %}

{% block content %}
  <br><br><br>
  <h1 class = "b1h1">Horoscope Central</h1>
  <p class = "b1p">
    Welcome to the mystique world of the horoscope. We cannot be as bold as to assume that we can interpret the cosmic musings of the universe
    nor can we be as foolish as too ponder how to affect our destinies. But we can sure try ;)
  </p>

  <br><br><br>
  <div class="jumbotron">
    <h1 class = "b2h1">Our Mission</h1>
    <p class = "b2p">
      Navigating the ontological mystery is near impossible. When Jason sought passage through the Symlpegades, he sent through a dove first. We hope these Horoscopes clear the way, allowing you to pass unscathed through every day of your life.
    </p>
  </div>

  <h1 class = "b3h1">Our Team</h1>
  <img src="Joy.png" alt="Joy Goomba">
  <img src="Raven.png" alt="Raven with Tenor">
{% endblock %}
