{% extends "layout.html" %}
{% set active_page = "page1"%}
{% block title %}Discover Your Horoscope{% endblock %}

{% block content %}
  <br><br><br>
  <h1 class= "b3h1">Discover Your Horoscope</h1>
  <br>
  <p class = "b3p">Please select your zodiac sign to recieve your horoscope. There is a unique Horoscope for every day of the week.</p>
  <form action='/response'>
    <feildset>
      <br>
      <select class = "dropDownButton" name = "sign">
        <option class = "option" value="Aries">Aries</option>
        <option class = "option" value="Leo">Leo</option>
        <option class = "option" value="Cancer">Cancer</option>
        <option class = "option" value="Pisces">Pisces</option>
        <option class = "option" value="Scorpio">Scorpio</option>
        <option class = "option" value="Taurus">Taurus</option>
        <option class = "option" value="Sagittarius">Sagittarius</option>
        <option class = "option" value="Gemini">Gemini</option>
        <option class = "option" value="Virgo">Virgo</option>
        <option class = "option" value="Libra">Libra</option>
        <option class = "option" value="Capricorn">Capricorn</option>
        <option class = "option" value="Aquarius">Aquarius</option>
      </select>
      <input type="submit">
    </feildset>
    <br><br>
    {{ horoscope }}
  </form> 

{% endblock %}
© 2019 GitHub, Inc.
