{% extends "layout.html" %}
{% set active_page = "page1"%}
{% block title %}Discover Your Horoscope{% endblock %}

{% block content %}
  <h2>Select Your Zodiac Sign</h1>
  <form action='/response'>
    <feildset>
      <br>
      <select name = "sign">
        <option value="Aries">Aries</option>
        <option value="Leo">Leo</option>
        <option value="Cancer">Cancer</option>
        <option value="Pisces">Pisces</option>
        <option value="Scorpio">Scorpio</option>
        <option value="Taurus">Taurus</option>
        <option value="Sagittarius">Sagittarius</option>
        <option value="Gemini">Gemini</option>
        <option value="Virgo">Virgo</option>
        <option value="Libra">Libra</option>
        <option value="Capricorn">Capricorn</option>
        <option value="Aquarius">Aquarius</option>
      </select>
      <input type="submit">
    </feildset>
    <br><br>
    {{ horoscope }}
  </form> 

{% endblock %}
© 2019 GitHub, Inc.
